.footer {
  background-color: rgb(59, 75, 59);
  font-family: Arial, Helvetica, sans-serif;
}

.container__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  letter-spacing: 1.1px;
  font-weight: 100;
  font-size: 15px;
}

.link_hithub {
  padding-left: 20px;
  color: whitesmoke;
  text-decoration: none;
  line-height: 50px;
}

.link_hithub:hover {
  color: coral;
  text-decoration: underline solid 2px;
}

.footer__year {
  color: whitesmoke;
}

.link_rsschool {
  width: 100px;
  height: 80px;
  background-image: url(../rs_school_js.svg);
  background-size: 100px 80px;
  background-repeat: no-repeat;
}

