.main {
  background-color: rgba(195, 195, 236, 0.4);
  font-family: Arial, Helvetica, sans-serif;
}

.main__conteiner {
  display: flex;
  flex-wrap: wrap;
}

.section {
  margin-left: 80px;
  padding: 18px 0 10px;
  width: 43%;
}



.myphoto {
  padding: 10px 0;
  width: 200px;
  border-radius: 50%;
}

.profile {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.profile::after {
  position: absolute;
  bottom: -5px;
  left: 1px;
  width: 100%;
  height: 10px;
  background-color: rgba(155, 167, 133, 0.7);
  content: " ";
}


.profile__photo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}


.profile__name {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.myname {
  position: relative;
  color:rgb(65, 37, 39);
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: normal;
}

.myname::after {
  position: absolute;
  top: 40px;
  left: 95px;
  width: 120px;
  height: 2px;
  background-color: rgb(136, 148, 114);
  content: " ";
}

@media  and  {
  
}

.profile__under_name {
  color: rgb(112, 75, 77);
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.skills,
.education {
  border-top: solid black 1px;
  border-bottom: solid black 1px;
}

.section__title {
padding-left: 7px;
border-left: solid 2px rgb(112, 75, 77) ;
color: rgba(59, 75, 59, 0.99);
text-transform: uppercase;
text-shadow: 1px 0.5px 2px rgb(112, 75, 77);
letter-spacing: 2.5px;
font-weight: normal;
font-size: 18px;
}

.section__text,
.list {
  color: rgb(51, 50, 50);
  font-size: 18px;
  line-height: 27px;
}

.list,
.sublist {
  padding: 0 0 0 20px;
  list-style: none;
}

.contacts__item,
.skills__item ,
.sublist__item {
  position: relative;
}

.contacts__item::before {
position: absolute;
top: 7px;
left: -20px;
width: 7px;
height: 7px;
border: 2px solid rgba(155, 167, 133, 0.7);
content: " ";
}

.skills__item::before {
position: absolute;
top: 7px;
left: -20px;
width: 7px;
height: 7px;
border: 2px solid rgba(155, 167, 133, 0.7);
content: " ";
}

.sublist__item::before {
position: absolute;
top: 7px;
left: -14px;
width: 3px;
height: 3px;
border: 2px solid rgba(155, 167, 133, 0.7);
border-radius: 50%;
content: " ";
}

@media screen and (max-width: 390px) {
  .profile__photo {
    display: none;
  }
  .myname::after {
    display: none;
    /* top: 26px;
    left: 14px;
    width: 86px; */
  }
  .section {
    margin-left: 30px;
  }
}
