* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family:"Luxurious Roman";
  src: url("../Luxurious_Roman/LuxuriousRoman-Regular.ttf") format("truetype");
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Luxurious Roman', cursive;
  

  
}

.container {
  margin: 0 auto;
  max-width: 1300px;
  /* width: 100%; */
}



